---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Apellido'
    value: page.apellido
  - label: 'Nombre'
    value: page.nombre
  - label: 'Seudónimo'
    value: page.seudonimo
  - label: 'Año'
    value: page.anno
  - label: 'Fecha'
    value: page.fecha
  - label: 'Publicación'
    value: page.publicacion
  - label: 'Tipo'
    value: page.tipo
  - label: 'Categoría'
    value: page.categoria
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
